<div class="well">

    <!-- Modal de confirmação-->
    <script type="text/ng-template" id="modalConfirmacao.html">
        <div class="modal-header">
            <h3 align="center" class="modal-title">Confirmação:</h3>
        </div>
        <div align="center" class="modal-body">
            Deseja remover o país?
        </div>
        <div class="modal-footer">
            <button id="delete" class="btn btn-warning" ng-click="delete()"><span class="fa fa-check"></span> Sim</button>
            <button class="btn btn-default" ng-click="cancelModal()"><span class="fa fa-times"></span> Cancelar</button>
        </div>
    </script>

    <!-- Título da Página-->
    <legend>
        <h1 class="font-style">
            <i class="fa fa-flag"></i> Detalhe do País
            <div class="pull-right">
                <a type="button" class="btn btn-primary" href="#/paises/editar/{{pais.id}}">
                    <span class="fa fa-refresh"></span> Editar
                </a>
                <button type="button" class="btn btn-warning" ng-click="open('sm')">
                    <span class="fa fa-trash"></span> Remover
                </button>
                <a class="btn btn-default" href="#/paises">
                    <span class="fa fa-arrow-left"></span> Voltar
                </a>
            </div>
        </h1>
    </legend>

    <form ng-init="init()">
        <div class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">País</label>
            <p class="display-block margin-left-027em">{{pais.nome}}</p>
        </div>
        <div class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">DDI</label>
            <p class="display-block margin-left-027em">{{pais.ddi}}</p>
        </div>
        <div class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Sigla</label>
            <p class="display-block margin-left-027em">{{pais.sigla}}</p>
        </div>
        <div class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Data/Hora de Cadastro</label>
            <p type="date" class="display-block margin-left-027em">{{pais.dataCadastro | date:'dd/MM/yyyy : HH:mm'}}</p>
        </div>
        <div data-ng-show="pais.dataAlteracao" class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Data/Hora de Alteração</label>
            <p class="display-block margin-left-027em">{{pais.dataAlteracao | date:'dd/MM/yyyy : HH:mm'}}</p>
        </div>
    </form>
</div>