<div class="well">

    <script type="text/ng-template" id="modalConfirmacao.html">
        <div class="modal-header">
            <h3 align="center" class="modal-title">Confirmação:</h3>
        </div>
        <div align="center" class="modal-body">
            Deseja remover a cidade?
        </div>
        <div class="modal-footer">
            <button id="delete" class="btn btn-warning" ng-click="delete()"><span class="fa fa-check"></span> Sim</button>
            <button class="btn btn-default" ng-click="cancelModal()"><span class="fa fa-times"></span> Cancelar</button>
        </div>
    </script>

    <legend>
        <h1 class="font-style">
            <i class="fa fa-flag-checkered"></i> Detalhe da Cidade
            <div class="pull-right">
                <a type="button" class="btn btn-primary" href="#/cidades/editar/{{cidade.id}}">
                    <span class="fa fa-refresh"></span> Editar
                </a>
                <button type="button" class="btn btn-warning" ng-click="open('sm')">
                    <span class="fa fa-trash"></span> Remover
                </button>
                <a class="btn btn-default" href="#/cidades">
                    <span class="fa fa-arrow-left"></span> Voltar
                </a>
            </div>
        </h1>
    </legend>

    <form ng-init="init()">
        <div class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Cidade</label>
            <p class="display-block margin-left-027em">{{cidade.nome}}</p>
        </div>
        <div class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">DDD</label>
            <p class="display-block margin-left-027em">{{cidade.ddd}}</p>
        </div>
        <div class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Estado</label>
            <p class="display-block margin-left-027em">{{cidade.estado.nome}}</p>
        </div>
        <div class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Data/Hora de Cadastro</label>
            <p type="date" class="display-block margin-left-027em">{{cidade.dataCadastro | date:'dd/MM/yyyy : HH:mm'}}</p>
        </div>
        <div data-ng-show="cidade.dataAlteracao" class="item-form width-600 margin-bottom-15">
            <label class="display-block strong">Data/Hora de Alteração</label>
            <p class="display-block margin-left-027em">{{cidade.dataAlteracao | date:'dd/MM/yyyy : HH:mm'}}</p>
        </div>
    </form>

</div>