<!DOCTYPE html>
<html>
<head lang="en">
    <!-- Ícone-->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <!-- Bootstrap-->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>

    <!--Awesome Icons-->
    <link rel="stylesheet" href="assets/bower_components/font-awesome/css/font-awesome.css"/>

    <!-- Estilo da Tela-->
    <link rel="stylesheet" href="assets/stylesheets/signin.css"/>

    <title>Market - Não autorizado</title>
</head>
<body>
    <div class="container text-center">
        <div class="form-signin well well-sm">
            <h2 class="form-signin-heading">Erro 403!</h2>
            <h4 class="alert alert-danger">Usuário não autorizado!</h4>
            <a href="/login" class="btn btn-lg btn-primary btn-block">Login</a>
            <br>
            <p class="text-center">&copy; 2015 Market Systems</p>
        </div>
    </div> <!-- /container -->
</body>
</html>