@(url: String)
<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>

    <!--Awesome Icons-->
    <link rel="stylesheet" href="assets/bower_components/font-awesome/css/font-awesome.css"/>

    <!-- Estilo da Tela-->
    <link rel="stylesheet" href="assets/stylesheets/signin.css"/>

    <title>Página não Encontrada</title>
</head>
    <div class="container text-center">
        <div class="form-signin well well-sm">
            <h2 class="form-signin-heading">Erro 404!</h2>
            <h4 class="alert alert-danger">Esta página não existe! <b>@url</b></h4>
            <a href="/#/" class="btn btn-lg btn-primary btn-block">Início</a>
            <br>
            <p class="text-center">&copy; 2015 Market Systems</p>
        </div>
    </div> <!-- /container -->
</body>
</html>